.contact {
  &__location {
    iframe {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
  &__wrapper {
    display: flex;
    // align-items: center;
    gap: 1rem;
    svg {
      color: $color-dark;
      font-size: 3.5rem;
    }
    > div {
      color: $color-dark;
      line-height: 1.2;

      h4 {
        font-size: 1.6rem;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
          font-size: 1.4rem;
        }
      }
      span {
        font-weight: 500;
        font-size: 1.4rem;
        @media only screen and (max-width: $bp-small) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
